*{
    margin: 0;
    padding: 0;
}

h2{
    display: flex;
    justify-content: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ade8f4 ;
}

.container{
    background-color:#f1faee;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}